@charset "utf-8";
/* varela-round-regular */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/varela-round-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
       url('../fonts/varela-round-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/varela-round-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/varela-round-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/varela-round-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/varela-round-v8-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('../fonts/work-sans-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v2-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* CSS Document */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 9pt "Varela Round" !important;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font: 8.5pt "Varela Round";
}
.page {
	width: 210mm;
	min-height: 297mm;
	padding: 10mm;
	margin: 10mm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
	height: 277mm;
}
.subpage-top {
	height: 138mm;
}
.subpage-bottom {
	height: 138mm;
}

 @page {
 size: A4;
 margin: 0;
}
 @media print {
html, body {
	width: 210mm !important;
	height: 297mm !important;
}
.page {
	margin: 0;
	width: initial;
	border: initial;
	border-radius: initial;
	min-height: initial;
	box-shadow: initial;
	background: initial;
	page-break-after: always;
}
}

