/* ====================================
============== INPUT  =================
======================================= */
.input-line{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    padding: 0;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.icon-input{
    position: absolute;
    font-size:1.5rem;
    left: 1.5rem;
    margin-top: .7rem;
    color: $color-brand;
}
.icon-input + input{
    width: calc(100% - 2.5rem);
    margin-left: 2.5rem;
}

/* ====================================
============== BUTTON  =================
======================================= */
.btn{
    font-family: $font-default-family;
    border-radius: 2px;
    border: 3px solid transparent;
}
.btn-alternate{
    background: $color-alternate;
        color:#fff;
    &:hover{
        background: darken($color-alternate, 5%); 
        color:#fff;
    }
}
.flat{
    @include border-radius(0);
    @include box-shadow(0, #fff);
}
.btn-pill{
    @include border-radius(16px);
    @include box-shadow(0, #fff);
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
.btn-pill-md-long{
  @include border-radius(22px);
  width: 30rem;
  padding: 0.5em;
  text-transform: initial;
  font-size: 12pt;
  }
.btn-pill-lg{
    padding: 20px 50px;
}
.btn-pill-flat-orange{
    @include border-radius(16px);
    @include box-shadow(0, #f67c26);
    padding: 3px 25px 7px;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bolder;
}
.btn-line{
    background: transparent;
    border-color: $color-brand;
    color: $color-brand;
}
.btn-line-accent{
    border-color: $color-accent;
    color: $color-accent;
}
.btn-3d{
    border-bottom: 2px solid rgba(0,0,0,.3);
}
.btn-primary, .alert-primary, .label-primary{
    background: $color-primary;
}
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus{
    background: $color-success-light-30;
    border-color: $color-success;
}
.btn-success, .alert-success, .label-success{
    background: $color-success;
}
.btn-warning, .alert-warning, .label-warning{
    background: $color-warning;
}
.btn-danger, .alert-danger, .label-danger{
    background: $color-danger;
}
.btn-accent, .alert-accent, .label-accent{
    background: $color-accent;
    border: 3px solid $color-accent;
}
.btn-info, .alert-info, .label-info{
    background: $color-info;
}
.btn-outline-primary{
    border: 3px solid $color-primary;
    color: $color-primary;
    background: transparent;
}
.btn-outline-warning{
    border-color: $color-warning;
    color: $color-warning;
    background: transparent;
}
.btn-outline-danger{
    border-color: $color-danger;
    color: $color-danger;
    background: transparent;
}
.btn-outline-success{
    border-color: $color-success;
    color: $color-success;
    background: transparent;
}
.btn-outline-info{
    border-color: $color-info;
    color: $color-info;
    background: transparent;
}
.btn-outline-default {
    color: $color-white;
    border: 3px solid $color-white;
    @include border-radius(2px);
}
.btn-outline-default:hover {
    background: $color-white !important;
    color: $color-grey800;
}
.btn-outline-primary:hover {
    color: $color-white;
    background-color: $color-primary;
}
.btn-outline-warning:hover {
    color: $color-white;
    background-color: $color-warning;
}
.btn-outline-danger:hover {
    color: $color-white;
    background-color: $color-danger;
}
.btn-primary:hover {
    color: $color-white;
    background-color: $color-brand;
    border-color: $color-brand-dark-10;
}
.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: $color-brand-dark-10;
    border-color: $color-brand-dark-10;
}
.btn-icon-left {
    margin-right: 10px;
}
.btn-icon-right {
    margin-left: 10px;
}
.btn-detail {
    font-size: 12px;
    padding: 1em 1.2em;
}