/* ====================================
============== MIXIN  =================
======================================= */
@mixin box-shadow($size, $color){
    -webkit-box-shadow: 0px 0px $size 0px $color;
    -moz-box-shadow: 0px 0px $size 0px $color;
    box-shadow: 0px 0px $size 0px $color;
}
@mixin border-radius($radius-size){
    border-radius: $radius-size;
    -moz-border-radius: $radius-size;
    -webkit-border-radius: $radius-size;
}
@mixin fix-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin bg-dark-image($img){
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), $img;
}
@mixin animated-fadeIn($time){
        -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $time; /* Firefox < 16 */
        -ms-animation: fadein $time; /* Internet Explorer */
         -o-animation: fadein $time; /* Opera < 12.1 */
            animation: fadein $time;
}
@mixin transform-scale($time){
        -webkit-transform: scale $time; /* Safari, Chrome and Opera > 12.1 */
       -moz-transform: scale $time; /* Firefox < 16 */
        -ms-transform: scale $time; /* Internet Explorer */
         -o-transform: scale $time; /* Opera < 12.1 */
            transform: scale $time;
}

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333333; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

@mixin bg-gradient135($color1, $color2){
    background: $color1;
    background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: -o-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(-45deg, $color1 0%, $color2 100%);
    background: linear-gradient(135deg, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
}

@mixin cards($min-height){
    min-height: $min-height;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

// Create placeholder mixin
@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color-grey300;
  }
  &:-moz-placeholder {
    color: $color-grey300;
  }
  &::-moz-placeholder {
    color: $color-grey300;
  }
  &:-ms-input-placeholder {
    color: $color-grey300;
  }
}

