/* ====================================
=============== RESPONSIVE ============
======================================= */

@media (min-width: 1200px) {
    .mainpos-footer {
         .footer-link {
            .pos-bottom-content01, .pos-bottom-content02, .pos-bottom-content03 {
            margin-top: 3em;
            margin-bottom: 2em;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar-nav{
        float: right;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar-toggleable-md .navbar-collapse {
        width: auto;
    }
    .pos-content-top01 {
        .bukti-daftar {
            .cards-name {
                .name-group {
                    .text-center-md {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .mainpos-header{
        .pos-top-header-alt{
            .btn-daftar{
                float: left;
                margin: 1em 1em 1em 0;
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .mainpos-footer {
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 9.9em !important;
                }
            }
        }
        .footer-link {
            .pos-bottom-content01, .pos-bottom-content02, .pos-bottom-content03 {
            margin-top: 3em;
            margin-bottom: 2em;
            }
        }
    }
    .mainpos-header {
        .navbar {
             .navbar-header {
                 padding-right: 0;
            }
        }
    }
    .mainpos-content {
        .pos-main-content {
            .pos-content-body {
                .pos-content-top01 {
                    .cards-jalur {
                         @include cards(358px);
                        .jalur-body-custom {
                            margin-bottom: 1.4em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .mainpos-header .navbar .navbar-collapse{
        margin-top: 0.5em;
    }
    .mainpos-header .navbar{
        margin-bottom: 0;
    }
    .mainpos-header .navbar-brand{
        margin-right: 20px;
    }
    .mainpos-header .navbar .navbar-nav{
        margin: 6px -10px;
    }
    .mainpos-footer {
        .footer-link {
            .pos-bottom-content01, .pos-bottom-content02, .pos-bottom-content03 {
            margin-top: 1em !important;
            margin-bottom: 0 !important;
            }
        }
    }
    .mainpos-content {
        .pos-main-content {
            .pos-content-body {
                .pos-content-top01 {
                    .cards-jalur {
                        @include cards(394px);
                        .jalur-body-custom {
                            margin-bottom: 1.4em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 794px) {
    .mainpos-content {
        .pos-main-content {
            .pos-content-body {
                .pos-content-top01 {
                    .cards-jalur {
                        .jalur-body-custom {
                            margin-bottom: 1.4em;
                        }
                        .jalur-body-custom2 {
                            margin-bottom: 0.1em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 961px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 7.1em !important;
                }
            }
            .pos-bottom-content01 {
                hr {
                    margin-bottom: 2.5em;
                }
            }
        }
    }
}

@media (max-width: 960px) and (min-width: 768px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 7em !important;
                }
            }
            .pos-bottom-content01 {
                hr {
                    margin-bottom: 2.5em;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .pos-content-top01 .bukti-daftar .invoice-table .batas-pembayaran {
        text-align: right;
    }
}
@media (max-width: 507px) {
    .btn-previous {
        margin-bottom: 0.5em;
    }
}

@media (max-width: 768px) {
    .mainpos-content {
        .pos-main-content {
            .pos-content-body {
                .pos-content-top01{
                    .datapendaftar{
                        .data{
                            .list-attr{
                                text-align: left;
                            }
                            .list-value{
                                margin-bottom: 6px;
                            }
                        }
                    }
                    .bukti-daftar {
                        .invoice-table {
                            .nomer-virtual, .batas-pembayaran {
                                margin-bottom: 0.5em;
                            }
                        }
                    }
                }
            }
        }
        .pos-bottom-content {
            .pengumuman-xs {
                padding: 0 2em;
            }
        }
    }
    .mainpos-footer { 
        .footer-link {
            .pos-bottom {
                .pos-bottom-content01 {
                    margin-top: 3em !important;
                    padding-left: 2em !important;
                }
                .pos-bottom-content02 {
                    margin-top: 2em !important;
                    margin-bottom: 2em !important;
                    padding-left: 2em !important;
                }
                .pos-bottom-content03 {
                    .deskripsi-footer {
                        padding: 1em 2em;
                    }
                }
            }
        }
    }
    .mainpos-header{
        .pos-top-header-alt{
            padding: 15px;
            h1{
                font-size: 28px;
            }
            h4{
                font-size: 14px;
            }
            .btn-daftar{
                font-size: 16px;
                padding: 6px 12px;
                margin-right: 1em;
            }
        }
    }
    .mainpos-header .navbar .navbar-header .navbar-brand{
        margin-right: 0;
        padding: 15px 15px;
    }
}

@media (max-width: 767px) and (min-width: 700px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 38em !important;
                }
            }
        }
    }
}

@media (max-width: 699px) and (min-width: 655px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01 {
                hr {
                    margin-right: 34.9em !important;
                }
            }
            .pos-bottom-content02  {
                hr {
                    margin-right: 34.7em !important;
                }
            }
        }
    }
}

@media (max-width: 654px) and (min-width: 545px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01 {
                hr {
                    margin-right: 28.7em !important;
                }
            }
            .pos-bottom-content02  {
                hr {
                    margin-right: 28.5em !important;
                }
            }
        }
    }
}

@media (max-width: 544px) and (min-width: 500px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01 {
                hr {
                    margin-right: 26em !important;
                }
            }
            .pos-bottom-content02  {
                hr {
                    margin-right: 25.9em !important;
                }
            }
        }
    }
} 

@media (max-width: 499px) and (min-width: 460px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 23em !important;
                }
            }
        }
    }
} 

@media (max-width: 450px) and (min-width: 410px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 19em !important;
                }
            }
        }
    }
} 

@media (max-width: 380px) and (min-width: 367px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 17em !important;
                }
            }
        }
    }
} 

@media (max-width: 366px) and (min-width: 345px) {
    .mainpos-footer { 
        .pos-bottom {
            .pos-bottom-content01, .pos-bottom-content02 {
                hr {
                    margin-right: 15.5em !important;
                }
            }
        }
    }
} 

@media (max-width: 793px) and (min-width: 615px) {
    .mainpos-content {
        .pos-main-content {
            .pos-content-body {
                .pos-content-top01 {
                    .cards-jalur {
                        .jalur-body-custom3 {
                            margin-bottom: 1.4em !important;
                        }
                        .jalur-body-custom {
                            margin-bottom: 1.4em !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .mainpos-header .navbar .navbar-header .title{
        display: none;
    }
}

@media (max-width: 615px) and (min-width:590px) {
    .mainpos-footer {
        .footer-link {
            .pos-bottom {
                .pos-bottom-content01 {
                    hr {
                        margin-right: 38em;
                    }
                }
                .pos-bottom-content02 {
                    hr {
                        margin-right: 38em;
                    }
                }
            }
        }
    }
}

