/*!
 *   IntegraOffice v1.0
 *   Author: ITS (www.integrasolusi.com)
!*/

/*
    Core: General style
----------------------------
*/

html,
body {
    font-family: $font-default-family;
    font-size: $font-default-size;
    background: $color-base;
    min-height: 100%;
    overflow-x: hidden !important;
    font-weight: 400;
    color: $font-primary-color
}

a {
    color: $color-accent;
    :hover,
    :active,
    :focus {
        color: darken($color-accent, 10%);
    }
    text-decoration-line: none !important;
}

p {
    line-height: 1.7;
}

.section-content {
    padding: 50px 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.text-grey {
    color: $color-grey500;
}

.nav > li > a {
    padding: 10px 12px;
}

input,
textarea,
select,
label {
    font-weight: 400;
}

.text-light {
    font-weight: lighter;
}

.text-brand {
    color: $color-brand;
}

.text-danger {
    color: $color-danger;
}

.bg-white {
    background: $color-white;
}

.text-alternate {
    color: $color-alternate;
}

.text-accent {
    color: $color-accent;
}

.text-black {
    color: $color-black;
}

.text-warning {
    color: $color-warning;
}

.text-success {
    color: $color-success;
}

.text-grey {
    color: $color-grey400;
}

.bg-grey {
    background: #F6F8FA;
    border-top: 1px solid #E4EDF6;
    border-bottom: 1px solid #E4EDF6;
}

.bg-grey-light {
    background: $color-grey200;
}


.margin-top50 {
    margin-top: 50px;
}

.margin-bottom16 {
    margin-bottom: 16px;
}

.margin-bottom1em {
    margin-bottom: 1em;
}

.margin-bottom2em {
    margin-bottom: 2em;
}

.color-black {
    color: $color-black;
}

.color-grey {
    color: $color-grey500;
}

.custom {
    margin-top: 3.5em;
    line-height: 1.4;
}

.text-header {
    font-family: $font-header-family;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-header-family;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
    color: $color-black;
}

.sub-header {
    font-size: 18px;
    font-weight: 400;
    color: $color-grey500;
    margin-bottom: 2em;
}

h4 {
    font-size: 18px;
}

small {
    font-size: 12px;
}

.main-header {
    margin-bottom: 5px;
    line-height: 1.3;
    margin-top: 0;
}

.main-header2 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.main-header3 {
    margin-bottom: 5px;
    margin-top: 0;
}

.sub-header2 {
    @extend .sub-header;
    margin-bottom: 1em;
}

.sub-header3 {
    margin-bottom: 20px;
}

.sub-header4 {
    margin-bottom: 0px;
}

.nav > li > a {
    padding: 10px 15px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: transparent;
    color: $color-white;
}

/* Table */

.table > thead > tr > th {
    background-color: $color-brand;
    color: $color-white;
    font-size: 12px;
    font-weight: 400;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $color-grey200;
}

.table > tbody > tr > td {
    border-top: 0;
    .table-subtext {
        color: $color-grey400;
        font-size: 90%;
    }
}

/* Step Wizard */

.f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

.f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 3px;
    background: $color-grey300;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: $color-brand;
}

.f1-step {
    position: relative;
    float: left;
    width: 25%;
    padding: 0 5px;
}

.f1-step-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 12px;
    background: $color-grey300;
    font-size: 18px;
    color: #fff;
    line-height: 27px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    @extend .text-header;
}

.f1-step.activated .f1-step-icon {
    background: $color-brand;
    border: 1px solid $color-brand;
    color: $color-white;
    line-height: 27px;
}

.f1-step.active .f1-step-icon {
    width: 26px;
    height: 26px;
    margin-top: 12px;
    background: $color-white;
    color: $color-brand;
    border: 1px solid $color-brand;
    font-size: 18px;
    line-height: 25px;
}

.f1-step p {
    color: $color-grey300;
    font-size: 12px;
}

.f1-step.activated p {
    color: $color-brand;
    font-size: 12px;
}

.f1-step.active p {
    color: $color-brand;
    font-size: 12px;
}

.f1 fieldset {
    display: none;
    text-align: left;
}

.f1-buttons {
    text-align: right;
    margin-top: 20px;
}

.f1 .input-error {
    border-color: $color-danger;
}

/* Form */

.form-header {
    margin-bottom: 10px;
    .form-info {
        color: $color-grey500;
        i {
            margin-right: 8px;
        }
    }
}

fieldset {
    margin-top: 1.5em;
}

label {
    color: $color-grey500;

    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.text-help {
    position: absolute;
    margin-top: 4px;
}

.form-control {
    height: 40px;
    padding: 10px 16px;

    color: $color-grey500;
    border-radius: 2px;
    border: 1px solid $color-grey300;
}

[placeholder] {
    @include placeholder($color-grey300, 14px);
}

.input-group-addon {
    padding: 9px 14px;

    color: $color-white;
    background-color: $color-brand;
    border: 1px solid $color-brand;
    border-radius: 2px;
}

.radio {
    margin-top: 0px;
    margin-bottom: 0px;
    label {
        padding-left: 0;
        width: 100%;
    }
    input[type="radio"] {
        display: none;
        margin-left: 0px;
    }
    .cards-pilih-jalur {
        @include cards(185px);
        padding: 14px 14px 0px;
        ;
        margin-top: 1em;
        .jalur-header {
            margin: 0;
            small {
                font-size: 12px;
            }
        }
        .jalur-sub-header {
            color: $color-grey400;
        }
        .label-jalur {
            padding: 0.6em 0.8em;
            font-size: 12px;
            border-radius: 0px;
            font-family: $font-header-family;
        }
        .jalur-attr {
            font-size: 12px;
            color: $color-grey400;
            margin-top: 8px;
        }
        .jalur-value {
            font-size: 12px;
            color: $color-grey500;
            margin-bottom: 8px;
        }
    }
    .cards-pilih-jalur:hover {
        border: 1px solid $color-brand;
    }
    input[type="radio"]:checked + .cards-pilih-jalur {

        border: 3px solid $color-brand;

    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group {
    margin-bottom: 20px;
    .input-group-btn {
        .btn {
            padding-bottom: 10px;
            font-size: 11px;
            padding-top: 9px;
        }
    }
}

.file-upload {
    .file-attr {
        font-size: 18px;
        margin-bottom: 0;
        color: $color-grey500;
    }
    .label {
        font-weight: normal;
        font-size: 65%;
    }
    a {
        font-size: 16px;
    }
    .file-size {
        color: $color-grey300;
    }
}

.bootstrap-datetimepicker-widget {
    table {
        & td {
            &.active,
            &.active:hover {
                background-color: $color-brand;
                color: $color-white;
            }
        }
    }
}

/* Alerts */

.alert {
    border-radius: 2px;
    border: 0px;
}

.alert-primary {
    background: $color-primary-light-30;
    color: $color-primary;
}

.alert-success {
    background: $color-success-light-30;
    color: $color-success;
}

.alert-warning {
    background: $color-warning-light-30;
    color: $color-warning;
}

.alert-info {
    background: $color-info-light-30;
    color: $color-info;
}

.alert-danger {
    background: $color-danger-light-30;
    color: $color-danger;
}


/* Card */

.card-title {
    border-bottom: 1px solid #EFEFEF;
    padding: 10px;
    color: $color-grey700;
    margin-bottom:10px;
}

/* Pagination */

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: $color-brand;
    border-color: $color-brand;
}

.pagination > li > a,
.pagination > li > span {
    color: $color-brand;
    border-color: $color-grey300;
    padding: 12px 16px;
    i {
        margin-top: 2px;
    }
}

.mainpos-header {
    background: $color-white;
    border-bottom: 2px solid #E4EDF6;
    .navbar {
        margin-bottom: 10px;
        .navbar-header {
            button {
                border: 1px solid $color-white;
            }
            .navbar-toggle {
                margin-top: 21px;
                margin-bottom: 6px;
                .icon-bar {
                    border: 1px solid $color-white;
                }
            }
            .title {
                margin-top: 1.2em;
                padding: 0;
                p {
                    margin-bottom: 0;
                    color: $color-grey700;
                    font-size: 24px;
                    line-height: 1;
                }
                span {
                    color: $color-grey700;
                    font-size: 16px;
                }
            }
        }
        .navbar-nav {
            margin: 7.5px 10px;
        }
        li {
            a {
                color: $color-grey700;
                font-family: $font-default-family;
                font-style: normal;
                font-weight: normal;
                line-height: 100%;
                opacity: 1.00;
                background: none;
            }
        }
        li.active,
        li:hover {
            a {
                color: $color-accent;
                font-family: $font-default-family;
                font-style: normal;
                font-weight: normal;
                line-height: 100%;
                opacity: 1.00;
                background: none;
            }
        }
        li.login {
            a {
                margin-left: 11px;
                padding: 0;
            }
        }
        .navbar-collapse {
            margin-top: .7em;
            .home {
                i {
                    font-size: 22px;
                }
                i:hover {
                    color: $color-accent;
                }
            }
            .dropdown {
                .glyphicon {
                    font-size: 7px;
                    top: -2px;
                }
            }
            .dropdown-menu {
                background: $color-brand;
                min-width: 100%;
                margin-top: 1.8em;
                border-radius: 2px;
                border: none;
                li {
                    a {
                        color: $color-white;
                        font-family: $font-default-family;
                        font-style: normal;
                        font-weight: normal;

                        line-height: 100%;
                        opacity: 1.00;
                        background: none;
                        padding: 14px 20px;
                    }
                }
                li:hover,
                li:active {
                    a {
                        color: $color-accent;
                        font-family: $font-default-family;
                        font-style: normal;
                        font-weight: normal;

                        line-height: 100%;
                        opacity: 1.00;
                        background: none;
                    }
                }
            }
            .dropdown-menu > .active > a,
            .dropdown-menu > .active > a:focus,
            .dropdown-menu > .active > a:hover {
                background: transparent;
                color: $color-white;
            }
        }
    }
    .pos-top-header {
        background: url("../img/bg-banner.jpg") no-repeat;
        background-size: cover;
        padding: 9em 0;
        width: 100%;
        .btn-daftar {
            font-size: 24px;
            color: $color-white;
            margin: 2em 0;
            padding: 0.5em 1em;
        }
        .btn-daftar:hover {
            border: 3px solid $color-accent;
            background: transparent;
            color: $color-accent;
        }
        .btn-login {
            background: none;
            font-size: 12px;
            margin: 2em 0 1.5em;
            padding: 1em 1.5em;
        }
        h1 {
            color: $color-white;
            font-family: $font-header-family;
            font-size: 48px;
        }
        h4 {
            color: $color-white;
            font-family: $font-default-family;
            font-size: 20px;
            font-weight: normal;
        }
        p {
            color: $color-white;
            font-size: 12px;
        }
        .pos-hr {
            p {
                text-align: center;
            }
        }
    }
    .pos-top-header-alt {
        @extend .pos-top-header;
        background: url(../img/bg-banner2.jpg) no-repeat;
        background-size: cover;
        padding: 2em 0;
        .btn-daftar {
            margin: 2em 1em;
            padding: 0.25em 1em;
            float: right;
        }
        .btn-daftar2 {
            @extend .btn-daftar;
            background-color: transparent;
        }
        .btn-daftar2:hover {
            color: $color-grey700;
            border-color: $color-white;
        }
    }
    .carousel-inner {
        max-height: 480px;
        .overlay {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, $color-brand 0%, $color-accent 100%);
            opacity: 0.85;
        }
        .carousel-caption {
            display: block;
            position: absolute;
            color: #FFF;
            text-align: center;
            top: 35%;
            transform: translateY(-50%);
        }
    }
}

.mainpos-content {
    .form-page {
        padding-top: 1em;
        padding-bottom: 7em;
    }
    .front-page {
        padding-top: 1.5em;
        padding-bottom: 7em;
    }
    .fitur-page {
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .statistic {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url(../img/stat-bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;

    }
    .pos-main-content {
        .pos-content-body {
            .pos-content-header {}
            .pos-content-breadcrumb {
                .breadcrumb-body {
                    background-color: $color-grey200;
                    padding: 10px 20px;
                    margin-top: 20px;
                    small {
                        color: $color-grey500;
                    }
                }
            }
            .pengumuman-xs {
                margin-top: 1.5em;
            }
            .pos-content-top01 {
                .sub-table {
                    margin-top: 20px;
                }
                .jalur-header {
                    margin-bottom: 0;
                    small {
                        font-size: 12px;
                    }
                }
                .btn-daftar {
                    margin-top: 20px;
                }
                .btn-edit {
                    margin-bottom: 20px;
                }
                .jalur-sub-header {
                    color: $color-grey400;
                }
                .label-jalur {
                    padding: 0.6em 0.8em;
                    font-size: 12px;
                    border-radius: 0px;
                    font-family: $font-header-family;
                }
                .jalur-body {
                    color: $color-grey500;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                .jalur-attr {
                    font-size: 12px;
                    color: $color-grey400;
                }
                .jalur-value {

                    color: $color-grey500;
                }
                .cards-jalur {
                    @include cards(300px);
                    padding: 15px 20px;
                    margin-top: 2em;
                    .jalur-header {
                        margin: 0;
                        small {
                            font-size: 12px;
                        }
                    }
                    .jalur-sub-header {
                        color: $color-grey400;
                    }
                    .label-jalur {
                        padding: 0.6em 0.8em;
                        font-size: 12px;
                        border-radius: 0px;
                        font-family: $font-header-family;
                    }
                    .jalur-attr {
                        font-size: 12px;
                        color: $color-grey400;
                    }
                    .jalur-value {

                        color: $color-grey500;
                    }
                    button {
                        font-size: 12px;
                        margin-top: 1em;
                    }
                    .jalur-body {
                        line-height: 1.5;
                    }
                    .datapendaftar {
                        margin-top: 0;
                    }
                    .kerja {
                        margin-bottom: 16px;
                        .kerja-img {
                            margin: 0 auto;
                            width: 50px;
                            height: 50px;
                            border: 1px solid $color-grey300;
                            background-color: $color-white;
                            object-fit: contain;
                            object-position: center;
                            position: relative;
                            img {
                                max-height: 100%;
                                max-width: 100%;
                                width: auto;
                                height: auto;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }
                        }
                        .kerja-title {
                            font-family: $font-header-family;
                            font-weight: bold;
                            font-size: 16px;
                            color: $color-grey700;
                        }
                        .kerja-company {

                            color: $color-grey500;
                        }
                        .kerja-other {
                            font-size: 12px;
                            color: $color-grey500;
                            .custom-map {
                                margin-left: 2px;
                                margin-right: 12px;
                            }
                        }
                    }
                }
                .cards-jalur.profil {
                    min-height: 200px;
                    margin-top: 1em;
                }
                .bukti-daftar {
                    .cards-name {
                        .name-group {
                            .title-name,
                            .title-date {

                                color: $color-grey400;
                                margin-bottom: 5px;
                            }
                            .name {
                                font-size: 24px;
                                color: $color-grey700;
                            }
                            .date {
                                font-size: 18px;
                                color: $color-grey400 !important;
                            }
                        }
                        .date-group {
                            text-align: right;
                        }
                    }
                    .cards-id {
                        .id-group {
                            .title-id,
                            .title-katasandi {

                                color: $color-grey400;
                                margin-bottom: 0;
                            }
                            .id,
                            .katasandi {
                                font-size: 24px;
                                color: $color-brand;
                            }
                        }
                    }
                    .note {
                        color: $color-grey500;
                    }
                    hr.bold {
                        border: 3px solid $color-grey200;
                    }
                    .invoice-table {
                        .title-nomer {
                            color: $color-grey400;
                            .nomer {
                                color: $color-black;
                            }
                        }
                        .title-date {
                            color: $color-grey400;
                        }
                        .note {
                            margin-bottom: 3em;
                            .nomer {
                                color: $color-grey700;
                            }
                        }
                        table {
                            th,
                            td {
                                padding: 8px 14px;
                            }
                            th {
                                border-bottom: 0;
                            }
                            .top {
                                background: $color-brand;
                                color: $color-white;
                                font-size: 12px;
                                th {
                                    font-weight: normal;
                                }
                            }
                            .middle {
                                background: $color-white;
                            }
                            .bottom {
                                background: $color-grey200;
                                .grand-total {
                                    color: $color-grey700;
                                }
                            }
                        }
                    }
                    .pos-content-bottom02 {
                        margin-top: 2em;
                    }
                    .note2 {
                        margin-top: 2em;
                        color: $color-grey500;
                    }
                }
                .datapendaftar {
                    margin-top: 1em;
                    .data {
                        .list-pendaftar {
                            margin-bottom: 20px;
                            font-size: 16px;
                        }
                        .list-attr {
                            text-align: right;
                        }
                        p {
                            color: $color-grey700;
                            font-weight: bold;
                        }
                        .title {
                            font-family: $font-header-family;
                        }
                        hr {
                            border-top: 4px solid $color-grey200;
                            margin-top: 8px;
                        }
                        table.table-one {
                            width: 0;
                        }
                        table.table-two {
                            width: 54%;
                        }
                        table.table-three {
                            width: 82%;
                        }
                        table {
                            font-size: 18px;
                            td {
                                padding: 2px;
                            }
                        }
                    }
                    [type="checkbox"]:not(:checked),
                    [type="checkbox"]:checked {
                        position: absolute;
                        left: -9999px;
                        opacity: 0;
                    }
                    [type="checkbox"] + label {
                        position: relative;
                        padding-left: 25px;
                        cursor: pointer;
                        display: inline-block;
                        height: 25px;
                        line-height: 25px;
                        font-size: 1rem;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -ms-user-select: none;
                    }
                    [type="checkbox"].filled-in:checked + label:before {
                        top: 0;
                        left: 1px;
                        width: 8px;
                        height: 13px;
                        border-top: 2px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid $color-white;
                        border-bottom: 2px solid $color-white;
                        -webkit-transform: rotateZ(37deg);
                        transform: rotateZ(37deg);
                        -webkit-transform-origin: 100% 100%;
                        transform-origin: 100% 100%;
                    }
                    [type="checkbox"].filled-in + label:before,
                    [type="checkbox"].filled-in + label:after {
                        content: '';
                        left: 0;
                        position: absolute;
                        transition: border .25s, background-color .25s;
                        z-index: 1;
                    }
                    [type="checkbox"]:checked + label:before {
                        top: -4px;
                        left: -5px;
                        width: 12px;
                        height: 22px;
                        border-top: 2px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid $color-brand;
                        border-bottom: 2px solid $color-brand;
                        -webkit-transform: rotate(40deg);
                        transform: rotate(40deg);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-transform-origin: 100% 100%;
                        transform-origin: 100% 100%;
                    }
                    [type="checkbox"] + label:before,
                    [type="checkbox"]:not(.filled-in) + label:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        z-index: 0;
                        border: 2px solid $color-grey600;
                        border-radius: 1px;
                        margin-top: 2px;
                        transition: .2s;
                    }
                    [type="checkbox"].filled-in:checked + label:after {
                        top: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid $color-brand;
                        background-color: $color-brand;
                        z-index: 0;
                    }
                    [type="checkbox"].filled-in + label:before,
                    [type="checkbox"].filled-in + label:after {
                        content: '';
                        left: 0;
                        position: absolute;
                        z-index: 1;
                    }
                    [type="checkbox"].filled-in + label:after {
                        border-radius: 2px;
                    }
                }
                /* Pengumuman */
                .date-box {
                    border: 1px solid $color-grey400;
                    padding: 8px 8px;
                    color: $color-grey400;
                    .date-sm {}
                    .date-xs {
                        font-size: 12px;
                    }
                }
                .date-box.detail {
                    margin-top: 20px;
                }
                .date-box-2 {
                    @extend .date-box;
                    margin-top: 25px;
                }
                .pengumuman-title {
                    margin-bottom: 0.5em;
                    a {
                        font-size: 16px;
                    }
                }
                .pengumuman-title-bg {
                    color: $color-brand;
                }
                .pengumuman-body {
                    color: $color-grey500;
                    margin-bottom: 0.5em;
                }
                .pengumuman-body-bg {
                    @extend .pengumuman-body;
                    margin-top: 0.8em;
                    p {
                        line-height: 2.3;
                    }
                    img {
                        margin-bottom: 24px;
                        margin-top: 12px;
                    }
                }
                .pengumuman-datetime {
                    font-size: 12px;
                    color: $color-grey400;
                    margin-bottom: 2em;
                    line-height: 1.8;
                }
                .pengumuman-content {
                    padding-left: 0px;
                }
                .berita-img {
                    overflow: hidden;
                    height: 150px;
                    object-fit: cover;
                    object-position: top;
                    margin-bottom: 12px;
                    img {
                        width: 100%;
                    }
                }
                /* Card Summary */
                .cards-summary {
                    border-radius: 2px;
                    border: 1px solid $color-info-light-10;
                    background-color: $color-info-light-50;
                    padding: 18px 24px;
                    margin-bottom: 20px;
                    .summary-attr {
                        color: $color-grey500;
                        font-size: 12px;
                    }
                    .summary-value {

                        color: $color-grey700;
                        margin-bottom: 8px;
                    }
                    .summary-value-brand {
                        @extend .summary-value;
                        color: $color-brand;
                    }
                    hr {
                        border-top: 1px solid $color-info-light-10;
                        margin-bottom: 12px;
                        margin-top: 10px;
                    }
                }
                /* Card Alur Pendaftaran */
                .cards-alur {
                    @include cards(230px);
                    padding: 0 10px 10px;
                    margin-top: 20px;
                    cursor: pointer;
                    .alur-number {
                        font-size: 32px;
                        font-family: $font-header-family;
                        color: $color-brand;
                        text-align: center;
                        margin-bottom: 8px;
                    }
                    .alur-desc {
                        margin-top: 8px;
                        font-size: 15px;
                        color: $color-grey500;
                        text-align: center;
                    }
                    .alur-img {
                        width: 55%;
                    }
                }

            }
        }
        .pos-content-right {
            .side-banner {
                background-color: $color-grey200;
                padding: 27px 24px;
                margin-top: 20px;
                .title-banner {
                    p {
                        @extend .sub-header;
                        margin-bottom: 1em;
                    }
                }
                .button-banner {
                    margin-bottom: 1em;
                }
                .subtitle-banner {
                    small {
                        font-size: 12px;
                        color: $color-grey500;
                    }
                }
            }
            .side-menu {
                padding: 21px 0;
                background-color: $color-grey200;
                margin-top: 1.5em;
                ul {
                    list-style-type: none;
                    -webkit-padding-start: 0px;
                    padding-inline-start: 0px;
                    li {
                        a {
                            color: $color-grey500;
                            width: 100%;
                            display: block;
                            padding: 9px 20px;
                            i {
                                font-size: 16px;
                            }
                        }
                    }
                    li.active {
                        background-color: $color-warning;
                        color: $color-white;
                        a {
                            color: $color-white;
                        }
                    }
                    li:hover {
                        background-color: $color-warning;
                        color: $color-white;
                        a {
                            color: $color-white;
                            i:hover {
                                color: $color-white;
                            }
                        }
                    }

                }
            }
        }
        .pos-content-fitur {
            margin-top: 1em;
            margin-bottom: 3em;
            .fitur-img {
                text-align: center;
                img {
                    height: 60px;
                }
            }
            .fitur-title {
                font-family: $font-header-family;
                font-weight: 700;
                color: $color-grey700;
                font-size: 18px;
            }
            .fitur-desc {
                color: $color-grey500;

            }
        }
        .card-identity {
            @include cards(200px);
            padding: 20px;
            .id-nim {
                color: $color-primary;
                font-size: 12px;
            }
            .id-name {
                color: $color-grey700;
                font-family: $font-header-family;
                font-size: 20px;
                margin-bottom: 16px;
            }
            .id-left {
                padding-right: 5px;
            }
            .id-right {
                padding-left: 5px;
            }
            .id-name-sm {
                @extend .id-name;

                margin-bottom: 12px;
            }
            .id-title {
                font-size: 11px;
                color: $color-grey500;
            }
            .id-link {
                font-size: 12px;
            }
            .id-desc {

                color: $color-grey700;
                margin-bottom: 8px;
            }
            .id-img {
                border: 3px solid $color-grey300;
                border-radius: 2px;
                min-height: 160px;
                width: 100%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                img {
                    position: absolute;
                    width: 100%;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .id-img-sm {
                @extend .id-img;
                min-height: 80px;
            }
        }
        .card-identity.id-sm {
            min-height: 100px;
            padding: 12px;
            margin-top: 20px;
        }
    }
    .pengumuman {
        background-color: $color-grey200;
        padding-top: 1.5em;
        padding-bottom: 4em;
    }
    .testimonial {
        .user-img {
            border-radius: 200px;
            width: 200px;
            height: 200px;
            position: absolute;
            right: -30px;
        }
        .user-detail {
            font-size: 14px;
        }
        .card-testimonial {
            padding: 15px;
            margin-top: 80px;
        }
        .carousel-control.right,
        .carousel-control.left {
            background: none;
        }
        .carousel-control.right > span,
        .carousel-control.left > span {
            color: $color-grey400;
            text-shadow: none;
        }
    }
    .pos-bottom-content {
        .pos-content-bottom01 {
            .date-box {
                border: 1px solid $color-grey400;
                padding: 8px 8px;
                color: $color-grey400;
                .date-sm {}
                .date-xs {
                    font-size: 12px;
                }
            }
            .pengumuman-content {
                min-height: 95px;
            }
            .berita-img {
                overflow: hidden;
                height: 150px;
                object-fit: cover;
                object-position: top;
                margin-bottom: 16px;
                img {
                    width: 100%;
                }
            }
            .pengumuman-title {
                margin-bottom: 0.5em;
                max-height: 68px;
                overflow: hidden;
                a {
                    font-size: 18px;
                }
            }
            .pengumuman-body {
                color: $color-grey500;
                margin-bottom: 0.5em;
            }
            .pengumuman-datetime {
                font-size: 12px;
                color: $color-grey400;
                margin-bottom: 1em;
            }
        }
        .pengumuman-button {
            margin-top: 1em;
        }
        .agenda-body {
            background: #fff;
            padding: 15px;
            font-size: 14px;
            line-height: 1.8;
            .pengumuman-title {
                line-height: normal;
            }
            .fa {
                color: $color-alternate;
            }
        }

    }
}

.mainpos-footer {
    .footer-link {
        background: $color-grey800;
        .pos-bottom {
            .pos-bottom-content01,
            .pos-bottom-content02,
            .pos-bottom-content03 {
                ul {
                    list-style: none;
                    padding-left: 0;
                }
                a {
                    color: $color-white;
                    text-decoration: none;
                    line-height: 2;
                }
                a.hover {
                    color: $color-accent;
                    text-decoration: none;
                }
            }
            .pos-bottom-content03 {
                p {
                    color: $color-white;
                    font-weight: bold;
                }
                small {
                    color: $color-grey500;
                }
                i {
                    color: $color-brand;
                }
                h6 {
                    color: $color-white;

                }
            }
        }
    }
    .footer-buttom {
        padding: 1em 0;
        background: $color-grey900;
        color: $color-grey500;
        small {
            font-size: 11px;
        }
        .pos-SNS03 {
            small {
                float: right;
            }
        }
    }
}

// Pencarian Lowongan
#cari-lowongan{
    background-color: #F6F8FA;
    padding: 20px 0px 50px 0px;
    margin-bottom: 30px;
    .form-control{
        height: 45px;
    }
    h3{
        font-size: 36px;
        margin-bottom: 35px;
        color: $color-grey700;
    }
    button{
        margin-top: 30px;
        border: none;
        border-radius: 3px;
        background-color: #3F51B5;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
.pencarian-lowongan{
    .icon{
        position: absolute;
        top: 15px;
        left: 30px;
    }
    #key{
        padding-left: 40px;
    }
}

// NEW CODE 12/10/2018

/* MY NEW CODE */

.heading-pekerjaan {
  h4 {
    display: inline-block;
    font-size: 24px;
    color: #4F4F4F;
    margin-right: 15px;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
  }
}

#pekerjaan-terbaru .nav-pills > li {
  &.active > a {
    background-color: #F9A139;
    border-radius: 50px !important;
    padding: 5px 20px;
    &:hover, &:focus {
      background-color: #e58e2b;
      border-radius: 50px !important;
      padding: 5px 20px;
    }
    color: #fff;
  }
  > a {
    color: #828282;
    padding: 5px 20px;
    border-radius: 50px;
  }
}

.heading-pekerjaan {
  span {
    vertical-align: middle;
    margin-right: 15px;
  }
  .form-control {
    width: 200px;
    vertical-align: middle;
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .heading-pekerjaan .form-control {
    margin-top: 15px;
  }
}

.card-lowongan {
  background-color: #fff;
  border: 1px solid #EFEFEF;
  border-radius: 7px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  .title {
    margin-bottom: 10px;
    padding: 30px 40px;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      float: left;
      margin-right: 15px;
    }
    h4 {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      font-size: 16px;
      line-height: 1.4;
      border-left: 1px solid #ccc;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    a {
      color: #4F4F4F;
    }
  }
  .desc {
    margin-top: 10px;
    h3 {
      color: #F9A139;
      font-size: 24px;
      color: #000;
    }
  }
  .title span {
    color: #828282;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
  }
  .desc {
    small {
      background-color: #FFE9EF;
      border: 1px solid #E0215A;
      border-radius: 50px;
      padding: 5px 10px;
      font-size: 14px;
      margin-right: 5px;
      margin-bottom: 10px;
      display: inline-block;
      font-weight: bold;
      > a {
        color: #E0215A;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 1.4;
      color: #000;
      margin-top: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .button {
    text-align: center;
  }
    .lowongan-status{
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 18px;
    }
    .status-blue{
        color: #566BE0;
    }
    .status-red{
        color: #E0215A
    }
}

.btn-lamar {
  background-color: #E0215A;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 15px;
  border: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card-lowongan .foot {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -30px;
  b {
    color: #A70736;
  }
}

.more-btn {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  a {
    font-size: 20px;
    font-weight: bold;
  }
}

/* PROFIL */

#profil-user {
  background-color: #F6F8FA;
  padding: 40px 0px 0px 0px;
  margin-bottom: 50px;
  img {
    width: 14em;
    height: 14em;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
  .nama-user {
    h3 {
      color: #000;
      font-size: 28px;
    }
    span {
      color: #828282;
      font-family: $font-alternate-family;
      font-size: 14px;
    }
    b {
      color: #222222;
    }
    font-family: $font-alternate-family;
    margin-bottom: 15px 20px;
  }
  .info-kontak {
    font-family: $font-alternate-family;
    background-color: #E4EDF6;
    border: 1px solid #CFE1F3;
    border-radius: 7px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    span {
      > i {
        color: #566BE0;
        font-size: 14px;
      }
      margin-right: 20px;
      font-size: 14px;
      display: inline-block;
      color: #4F4F4F;
    }
  }
  .info-studi {
    span {
      font-size: 14px;
      color: #828282;
    }
    p {
      color: #000000;
      font-size: 18px;
    }
  }
  .icon-tambahan {
    a {
      display: inline-block;
      margin-right: 20px;
    }
    p {
      color: #566BE0;
      font-family: $font-alternate-family;
      font-weight: 600;
      font-size: 15px;
      > i:hover {
        color: #566BE0;
      }
    }
    .fa {
      display: inline !important;
      padding: 13px;
      font-size: 14px;
      width: 42px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    .fa-download, .fa-print {
      background-color: #FFE9EF;
      border: 1px solid #E0215A;
      color: #E0215A;
    }
  }
  .nav-pills {
    > li {
      &.active > a {
        background-color: transparent;
        padding: 10px 20px;
        color: #F9A139 !important;
        border-bottom: 3px solid #F9A139;
        &:hover, &:focus {
          background-color: transparent;
          padding: 10px 20px;
          color: #828282;
        }
        border-radius: 0;
        color: #828282;
      }
      > a {
        color: #828282;
        padding: 10px 20px;
        font-weight: 600;
        font-family: $font-alternate-family;
      }
    }
    .survey {
      color: #E0215A;
    }
  }
}

@media (max-width: 1080px) {
  #profil-user img {
    width: 8em;
    height: 8em;
  }
}

.card-info {
  width: 100%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  border: 1px solid #EFEFEF;
  margin-bottom: 25px;
  .head-info {
    border-bottom: 1px solid #E4E4E4;
    h3 {
      padding: 10px 30px;
      font-family: $font-alternate-family;
      font-weight: 600;
      font-size: 18px;
      color: #4F4F4F;
    }
    a {
      float: right;
      margin-top: -40px;
      margin-right: 30px;
      font-size: 14px;
      color: #E0215A;
      font-weight: 600;
    }
  }
}

.detail-info {
    padding: 10px 30px;
    font-family: $font-alternate-family;
    font-weight: 600;
        .bundle-info{
            margin-bottom: 4px;
        }
        .attr-info{
            color: $color-black;
        }
}

.item-pekerjaan {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
  }
  h3 {
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
    color: #222222;
    font-family: $font-alternate-family;
  }
  small {
    padding: 3px 8px;
    border-radius: 50px;
    margin-left: 10px;
    border: 1px solid #E0215A;
    background-color: #FFE9EF;
    display: inline-block;
    margin-bottom: 10px;
    color: #E0215A;
  }
  span {
    font-size: 14px;
    font-family: $font-alternate-family;
    color: #828282;
    display: block;
  }
  p {
    font-size: 13px;
    color: #828282;
    margin-top: 0;
  }
  &:hover .action {
    visibility: visible !important;
  }
}

@media (max-width: 800px) {
  .item-pekerjaan img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
  }
}

.action {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  .fa {
    padding: 13px;
    font-size: 14px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-pencil, .fa-trash {
    background-color: #E0215A;
    border: 1px solid #E0215A;
    color: #fff;
  }
}

.item-pendidikan {
  margin-bottom: 15px;
  img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
  }
  h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #222222;
    font-family: $font-alternate-family;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  span {
    font-size: 14px;
    font-family: $font-alternate-family;
    color: #828282;
    display: block;
  }
  p {
    font-size: 13px;
    color: #828282;
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .item-pendidikan img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
  }
}

.action {
  .fa {
    padding: 13px;
    font-size: 14px;
    width: 42px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-pencil, .fa-trash {
    background-color: #E0215A;
    border: 1px solid #E0215A;
    color: #fff;
  }
}

.item-pendidikan:hover .action {
  visibility: visible !important;
}

.action {
  visibility: hidden;
}

.tag-keahlian span {
  background-color: #FFE9EF;
  color: #E0215A;
  border: 1px solid #E0215A;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: $font-alternate-family;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.info-sertifikat {
  position: relative;
  a {
    color: #E0215A;
    &:hover ::after {
    content: "\f061";
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
  }
  }
  h3 {
    font-size: 18px;
    font-family: $font-alternate-family;
    font-weight: bold;
  }
  span {
    font-size: 14px;
    color: #828282;
    font-weight: bold;
  }
  p {
    font-size: 13px;
  }
  &:hover .action {
    visibility: visible !important;
  }
  
}

/* ALL MODAL */

.modal-custom {
  .modal-header {
    border-bottom: 0;
  }
  .modal-title {
    font-size: 20px;
    color: #828282;
    font-family: $font-alternate-family;
    font-weight: 600;
  }
  .modal-footer {
    background-color: #FBFBFB;
    border: 1px solid #D6DCE1;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}

.btn-simpan {
  background-color: #566BE0 !important;
  padding: 10px 20px;
  &:hover {
    border-color: #566BE0;
  }
}

/* UPLOAD FOTO PROFIL */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom: 0;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #E0215A;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #E0215A;
          border-color: #E0215A;
        }
        &:after {
          content: "\f067";
          font-family: 'FontAwesome';
          color: #fff;
          position: absolute;
          font-size: 20px;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    /* border: 6px solid #F8F8F8; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.modal-body {
  .form-control {
    color: #000;
    font-size: 18px;
    height: 45px;
  }
    textarea{
        resize: vertical;
    }
  select {
    height: 45px;
  }
  .form-control:focus {
    border-color: #E0215A;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* Custom checkbox */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Hide the browser's default checkbox */

.checkmark {
  vertical-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid #E1E0E0;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.container-checkbox {
  &:hover input ~ .checkmark {
    background: #FFFFFF;
    border: 1px solid #E1E0E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
  }
  input:checked ~ .checkmark {
    background-color: #E0215A;
  }
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-checkbox {
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Style the checkmark/indicator */

/* INPUT DRAG & DROP FILE  */

.wrapper-drop {
  width: 100%;
  height: 150px;
  .drop {
    width: 100%;
    height: 100%;
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
  }
}

.drop {
  .cont {
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: 30px 50px;
    i {
      font-size: 18px;
      color: #E0215A;
      position: relative;
    }
    .desc {
      font-size: 18px;
      color: #A4AEBB;
      span {
        color: #E0215A;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .browse {
      margin: 10px 25%;
      color: white;
      padding: 8px 16px;
      border-radius: 5px;
      background: #09f;
    }
  }
  input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  .thumb {
    width: 50px;
    margin: 10px 15px;
  }
}

/*==========================================================================*/

.tagarea {
  display: none;
}

.tag-box {
  list-style: none;
  padding: 15px 12px;
  margin: 0;
  display: inline-block;
  font-family: arial;
  width: 100%;
  border: 1px solid #E1E0E0;
  border-radius: 4px;
  * {
    transition-property: all;
    transition-duration: 0.3s;
  }
  li {
    padding: 4px 6px;
    float: left;
    display: inline-block;
    &.tags {
      background: #FFE9EF;
      color: #E0215A;
      border-radius: 50px;
      border: 1px solid #E0215A;
      padding: 5px 20px;
      margin: 4px 3px;
      position: relative;
      .close {
        display: inline-block;
        position: absolute;
        color: #E7832B;
        overflow: hidden;
        width: 0;
        right: 0;
        height: 18px;
        cursor: pointer;
        top: 4px;
        &:after {
          content: 'x';
          color: #E0215A;
        }
      }
      &.edit {
        background: none;
        border: 1px solid #F1C617;
        color: #F1C617;
        .input-tag {
          height: auto;
        }
        &:hover {
          padding: 4px 6px;
        }
      }
      &.danger {
        background: #F00;
        opacity: 0.8;
      }
      &:hover {
        padding-right: 18px;
        .close {
          width: 14px;
        }
      }
    }
    .input-tag {
      color: #000;
      height: 24px;
      vertical-align: middle !important;
      border: none;
      outline: none;
      background: none;
      &:hover, &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

.modal-custom .nama-perusahaan {
  width: 100%;
  margin-top: 0;
}

.indikator-kuesioner {
  margin-bottom: 20px;
  margin-top: 10px;
  small {
    color: #828282;
    font-size: 16px;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
  }
}

.list-kuesioner {
  margin-bottom: 30px;
  h3 {
    color: #4F4F4F;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.input-group-radio {
  margin-left: 15px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  .radio-btn {
    margin-left: -1px;
  }
}

.radio-btn {
  label {
    width: 100%;
    font-weight: normal;
    cursor: pointer;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0;
    vertical-align: middle;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    border: 2px solid #E4EDF6;
    border-radius: 7px !important;
    padding: 15px 15px;
  }
  &:hover label {
    background-color: rgb(230, 230, 230);
    border-color: rgb(173, 173, 173);
    color: rgb(51, 51, 51);
  }
}

@media (max-width: 768px) {
  .input-group-radio {
    width: 100%;
    margin-left: 0 !important;
  }
  .text-area-form .form-control {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .rate-kuesioner, .btn-selanjutnya {
    margin-left: 0 !important;
  }
  .nopadding-r {
    padding-right: 15px !important;
  }
  .nopadding-l {
    padding-left: 15px !important;
  }
  .left-menu-eksplorasi {
    margin-top: 0 !important;
  }
  .buat-post-right {
    margin-top: 20px !important;
  }
}

.input-group-lg .radio-btn label {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.input-group-radio input[type="radio"] {
  &:empty {
    display: none;
  }
  &:checked ~ label {
    border-color: rgb(173, 173, 173);
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
  }
}

.input-group > .input-group-radio {
  &:first-child:not(:last-child) label {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &:last-child:not(:first-child) label {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  &:not(:first-child):not(:last-child) label {
    border-radius: 0;
  }
}

.input-group-radio {
  .radio-btn-default input[type="radio"]:checked ~ label {
    background: #E0215A;
    box-shadow: 20px 30px 40px rgba(224, 33, 90, 0.15);
    border-radius: 7px;
    color: #fff;
    border: none;
    padding: 15px 15px;
  }
  .radio-btn-primary input[type="radio"]:checked ~ label {
    color: #fff;
    background-color: #337ab7;
  }
}

.text-area-form .form-control {
  background: #FFFFFF;
  border: 2px solid #E4EDF6;
  border-radius: 7px;
  width: 80%;
  margin-left: 15px;
}

.rate-kuesioner {
  margin-left: 15px;
  margin-bottom: 20px;
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  a > p {
    text-align: center;
    margin-top: -45px;
    color: #fff;
  }
}

.rating .stars {
  margin-right: 15px;
  .star {
    float: left;
    padding: 5px 2px;
    cursor: pointer;
    &:before {
      font-family: 'FontAwesome';
      content: '\f0c8';
      color: #e3e7fc;
      font-size: 2.8em;
    }
    &:hover:before, &.to_rate:before, &.rated:before {
      color: #566BE0;
    }
    &.no_to_rate:before {
      color: #e3e7fc;
    }
  }
}

.tingkat-keahlian {
  margin-right: 20px;
  vertical-align: middle;
  position: relative;
  font-weight: bold;
}

.text-area-form input[type="text"] {
  height: 45px;
}

.btn-selanjutnya {
  background: #E0215A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  color: #fff;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  margin-bottom: 30px;
  margin-left: 15px;
}

/* EKSPLORASI */

.pencarian-eksplorasi i {
  position: absolute;
  left: 30px;
  top: 15px;
}

#pencarian-eksplorasi {
  background-color: #F6F8FA;
  padding: 50px 0px 50px 0px;
  margin-bottom: 30px;
  .form-control {
    height: 45px;
  }
  input[type="text"] {
    height: 45px;
    padding-left: 40px !important;
    border-radius: 7px 0px 0px 7px;
  }
  h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: #4F4F4F;
  }
  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
  }
  button {
    border: none;
    background: #566BE0;
    border-radius: 0px 7px 7px 0px;
    background-color: #3F51B5;
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
  }
}

.nopadding-r {
  padding-right: 0;
}

.nopadding-l {
  padding-left: 0;
}

#main-eksplorasi {
  background-color: #fff;
  padding: 50px 0;

  .form-control {
    box-shadow: none;
    border: none;
    padding-left: 0;
    font-size: 33px;
    margin-bottom: 35px;
  }
  .form-control::placeholder {
    color: #828282;
  }
}

.kategori-eksplorasi {
  h4 {
    color: #828282;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 36px;
    text-align: center;
    color: #828282;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.box-active {
  background: #E0215A !important;
  box-shadow: 0px 20px 70px rgba(224, 33, 90, 0.2);
  border-radius: 7px;
  color: #fff !important;
  position: relative;
  z-index: 1;
  &:hover {
    color: #fff;
  }
}

.kategori-eksplorasi .box-kategori {
  background: #FFFFFF;
  margin-bottom: 25px;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  font-size: 16px;
  height: auto;
  padding: 25px 0 20px 0;
  text-align: center;
  color: #828282;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  transition:0.3s;
    h3:hover {
        color: #FFFFFF;
    }
}
.kategori-eksplorasi .box-kategori:hover {
    background: #E0215A !important;
    box-shadow: 0px 20px 70px rgba(224, 33, 90, 0.2);
    border-radius: 7px;
    color: #fff !important;
    position: relative;
    z-index: 1;
}

.box-kategori {
  img {
    width: 80px;
    height: 80px;
  }
  h3 {
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
}

/* EKSPLORASI LEFT MENU */

.left-menu-eksplorasi {
  margin-top: 90px;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #828282;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
  }
}

.top-contributors {
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
  }
  .round-more {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #E0215A;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
    display: inline-block;
  }
}

.list-event {
  margin-bottom: 20px;
  h3 {
    color: #222222;
    font-size: 16px;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    line-height: 1.3;
  }
  p {
    font-size: 16px;
  }
}

.heading-eksplorasi {
  border-bottom: 1px solid #EFEFEF;
  .nav-pills > li {
    > a:hover {
      background-color: transparent;
    }
    &.active > a {
      background-color: transparent;
      padding: 20px 20px;
      color: #000 !important;
      border-bottom: 3px solid #F9A139;
      border-radius: 0;
      color: #828282;
      &:hover, &:focus {
        background-color: transparent;
        padding: 20px 20px;
        color: #828282;
      }
    }
    > a {
      color: #828282;
      padding: 20px 20px;
      font-weight: 600;
      font-family: "Muli", "Helvetica", "Arial", sans-serif;
    }
  }
}

/* CARD EKSPLORASI */

.card-eksplorasi {
  margin-top: 25px;
  overflow: hidden;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
}

.sponsored {
  border-left: 3px solid #f9a139 !important;
}

.sponsored-label {
  border-color: #F9A139 !important;
  color: #F9A139 !important;
  background-color: #FFE9D0 !important;
}

.btn-buat-post {
  width: 100%;
  height: 45px;
  color: #fff;
  padding: 9px;
  background: #E0215A;
  border-radius: 7px;
  font-size: 15px;
  margin-bottom: 20px;
  &:hover {
    color: #fff;
  }
}

.buat-post-right {
  margin-top: 90px;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #828282;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
  }
}

.ads-right {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.vote-main {
  display: inline-block;
  button {
    background-color: transparent;
  }
}

.vote {
  border: none;
  width: 26px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  i {
    color: #000;
  }
  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: 0;
  }
}

.scoreCounter {
  font-size: 16px;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.upArrow {
  x: 0px;
  y: 0px;
  path {
    margin: 0;
  }
}

.downArrow {
  x: 0px;
  y: 0px;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

#upButton :hover, #downButton :hover {
  background-color: transparent;
  cursor: pointer;
}

.eksplorasi-author {
  display: inline-block;
  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
  }
  h4 {
    display: inline-block;
    color: #222222;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 0;
  }
  span {
    color: #828282;
    font-size: 14px;
  }
}

.main-post-eksplorasi {
  h3 {
    color: #000;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    margin-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    color: #828282;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  span {
    background: #FFE9EF;
    border: 0.5px solid #E0215A;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    color: #E0215A;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .left-menu-pencarian {
    margin-top: 0 !important;
  }
}

.left-menu-pencarian {
  margin-top: 40px;
  h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #828282;
    font-family: "Didact Gothic", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
  }
}

#main-eksplorasi .result {
  color: #828282;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  font-size: 18px !important;
}

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #E1E0E0;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: rebeccapurple;
  color: #fff;
}

.radio-custom {
  + .radio-custom-label:before {
    border-radius: 50%;
  }
  &:checked + .radio-custom-label:before {
    font-size: 14px;
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fff;
    background-color: #E0215A;
  }
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
  /* focus style */
  color: #E0215A;
}

.tag-pencarian span {
  background-color: #FFE9EF;
  color: #E0215A;
  border: 1px solid #E0215A;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 10px;
}



/* EBP means Eksplorasi Buat Post (Create Post)*/
.ebp-label {
    font-family: $font-alternate-family;
    font-size: 20px;
    font-weight: 600;
    color: $color-grey700;
    margin-bottom: 20px;
    margin-top: 30px;
}
.ebp-helper {
    font-family: $font-alternate-family;
    font-size: $font-medium-size;
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 20px;
    white-space: pre;
}
.ebp-sidebar-box {
    margin-bottom: 35px;
    padding: 0 20px 0 20px;
}
.ebp-button {
    padding: 15px 30px;
    font-size: $font-medium-size;
    font-family: "Muli", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: none;
}
    .btn-publikasi {
        background-color: $color-brand;
        color: $color-base;
        border: 1px solid $color-brand;

        -webkit-transition:0.3s;
        -moz-transition:0.3s;
        transition: 0.3s;

        &:hover {
            background-color: #c41b4e;
        }
    }
    .btn-pratinjau {
        background-color: $color-base;
        color: $color-grey500;
        border: 1px solid #e3e3e3;
        margin-right: 20px;

        -webkit-transition:0.3s;
        -moz-transition:0.3s;
        transition: 0.3s;

        &:hover {
            background-color: $color-grey100;
            border: 1px solid $color-grey400;
        }
    }
.ebp-scheduled-conc {
    margin:0 auto;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    color: $color-grey700;
    margin-top: 20px;
}

#editor {
    height: 375px;
    margin-bottom: 200px;
}
