/* ====================================
============= COLORS PALLETE ==========
======================================= */
$color-base:    #ffffff;
$color-brand:   #E0215A;
$color-darkbrand:   darken($color-brand, 50%);
$color-lightbrand:  lighten($color-brand, 50%);
$color-brand-dark-10 : darken($color-brand, 10%);
$color-accent:  #F9A139;
$color-alternate:   #566BE0;
$color-black:   #000000;
$color-grey900: #1C1C1C;
$color-grey800: #222222;
$color-grey700: #4F4F4F;
$color-grey600: #5e5e5e;
$color-grey500: #828282;
$color-grey400: #BDBDBD;
$color-grey300: #E0E0E0;
$color-grey200: #F2F2F2; 
$color-grey100: #FAFAFA;
$color-white:   #FFFFFF;
$color-primary: $color-brand;
$color-primary-light-30: lighten($color-primary, 30%);
$color-success: #85C564;
$color-success-light-30: lighten($color-success, 30%);
$color-warning: #F2994A;
$color-warning-light-30: lighten($color-warning, 30%);
$color-info:    #2794C1;
$color-info-light-30: lighten($color-info, 30%);
$color-info-light-10: #D3EFFF;
$color-info-light-50: #F2F7FA;
$color-danger:  #EB5757;
$color-danger-light-30: lighten($color-danger, 30%);

/* ====================================
=============== FONT STYLE ============
======================================= */

$font-primary-color:    $color-grey500;
$font-brand-color:      $color-brand;
$font-disabled-color:   $color-grey300;
$font-default-family:   'Didact Gothic', 'Helvetica', 'Arial', sans-serif;
$font-header-family: 'Didact Gothic', 'Helvetica', 'Arial', sans-serif;
$font-alternate-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
$font-default-size:     16px !default;
$font-medium-size:      18px;

/* =====================================
=============== SCAFFOLDING ============
======================================= */
$bg-login: url("../img/bg.jpg") bottom;
$bg-body: $color-base !default;
$bg-header: $color-brand;
$bg-pricing: url("../img/bg-pricing.png") no-repeat;
$bg-fitur: url("../img/bg-fitur.png") no-repeat;
$bg-guide: url("../img/bg-guide.png") no-repeat;
$bg-body: $color-base !default;
$bg-header: $color-brand;

/* =====================================
=============== TIME ============
======================================= */
$time-pricing : 0.6s;
